<ion-view title="Acompanhamento">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Atestado de óbito</div>
            <div class="item item-body">
                <div>
                    <p>
                        <b>Solicitante:</b>Deltrano de Tal
                        <br>
                        <b>Data:</b>15/01/2016
                    </p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Histórico de Movimentações</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Entrada no Processo
                        <span class="item-note">15/01/2016</span>
                    </ion-item>
                    <ion-item>Processo de análise para produção da certidão.
                        <span class="item-note">15/01/2016</span>
                    </ion-item>
                    <ion-item>Emissão da certidão.
                        <span class="item-note">15/01/2016</span>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>