<ion-view title="Cartório Ideal">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header has-footer">
        <div class="list card">
            <div class="item item-divider">Solicitações</div>
            <div class="item item-body">
                <ion-list>
                    <ion-list>
                        <ion-item>Certidão de nascimento
                            <span class="badge badge-assertive">2</span>
                        </ion-item>
                        <ion-item>Atestado de óbito
                            <span class="badge badge-assertive">4</span>
                        </ion-item>
                    </ion-list>
                </ion-list>
                <a ui-sref="menu.solicitations" class="button button-positive button-block button-small">Mais...</a>
            </div>
        </div>
        <div class="button-bar"></div>
    </ion-content>
</ion-view>
