<ion-view title="Registrar">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="name">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" name="nickname">
                    <span class="input-label">Nickname</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" name="password">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="">
                </label>
                <label class="item item-input" name="password-confirm">
                    <span class="input-label">Repita a Senha</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="login" class="button button-positive button-block ">Registrar</a>
        </form>
    </ion-content>
</ion-view>