<ion-view title="Solicitações">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="solicitation-search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Buscar Solicitação">
            </label>
            <label class="item item-select" name="solicitation-filter">
                <span class="input-label">Filtrar</span>
                <select>
                    <option>Em andamento</option>
                    <option>Finalizados</option>
                </select>
            </label>
        </form>
        <ion-list>
            <ion-item ui-sref="menu.trackSolicitation">
                <p>Certidão de Nacimento</p>
                <div class="row">
                    <div class="col col-50">
                        <small>Fulano</small>
                    </div>
                    <div class="col col-50">
                        <small>15/01/2016</small>
                    </div>
                </div>
                <small>
                    <span class="badge badge-assertive">5</span>
                </small>
            </ion-item>
            <ion-item ui-sref="menu.trackSolicitation">
                <p>Atestado de Óbito</p>
                <div class="row">
                    <div class="col col-50">
                        <small>Deltrano</small>
                    </div>
                    <div class="col col-50">
                        <small>15/01/2016</small>
                    </div>
                </div>
                <small>
                    <span class="badge badge-assertive">2</span>
                </small>
            </ion-item>
            <ion-item ui-sref="menu.trackSolicitation">
                <p>Certidão de Casamento</p>
                <div class="row">
                    <div class="col col-50">
                        <small>Fulano</small>
                    </div>
                    <div class="col col-50">
                        <small>15/01/2016</small>
                    </div>
                </div>
                <small>
                    <span class="badge badge-assertive">1</span>
                </small>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
